<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	Math
	<span class="caret"></span>
</a>
<ul class="dropdown-menu">
	<li class="dropdown-submenu">
		<a tabindex="-1" href="#">
			Environments
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="#" id="lm-inline"
						rel="tooltip" title="Shift + Alt + F">
					Inline
				</a>
			</li>
			<li>
				<a href="#" id="lm-array"
						rel="tooltip" title="Ctrl + Alt + M">
					Array
				</a>
			</li>
		</ul>
	</li>
	<li class="divider"></li>
	<li>
		<a href="#" id="lm-superscript">Superscript</a>
	</li>
	<li>
		<a href="#" id="lm-subscript">Subscript</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="#" id="lm-fraction" rel="tooltip" title="Ctrl + Alt + F">Fraction</a>
	</li>
	<li>
		<a href="#" id="lm-square-root">Square Root</a>
	</li>
	<li>
		<a href="#" id="lm-nth-root">N-th Root</a>
	</li>
</ul>

<script src="js/latex-math.js"></script>
